
body,html {
  /* The image used */
  background-image: url('greece.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#logInForm {
  text-align: center;
  animation: fadeIn ease 5s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
