
body,html {
  /* The image used */
  background-image: url('greece.jpg');
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  padding-top: 400px;
  text-align: center;

}

#newUserButton {
  background-color: white;
    color: blue;
    border: 2px solid white;
    font-size: 16px;
}



#logInForm {
  text-align: center;
  animation: fadeIn ease 5s;
}

#center-welcome {
  text-align: center;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
